function Game.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 9
call String.new 1
push constant 56
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 57
call String.appendChar 2
pop this 1
push constant 9
call String.new 1
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 56
call String.appendChar 2
push constant 57
call String.appendChar 2
pop this 0
push constant 57
pop this 4
push constant 0
pop this 2
push constant 1026
pop this 7
push constant 100
pop this 5
push constant 100
pop this 6
push pointer 0
push this 1
push constant 1
call String.new 1
push constant 57
call String.appendChar 2
call Game.find 3
pop this 3
push pointer 0
call Game.draw_board 1
pop temp 0
push this 6
push this 5
call Scoreboard.draw_scoreboard 2
pop temp 0
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.draw_board 6
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 1
call String.length 1
pop local 3
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 255
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 26
push constant 26
push constant 229
push constant 229
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 29
push constant 29
push constant 226
push constant 226
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP0
push local 2
push local 3
lt
not
if-goto WHILE_END0
push local 2
push constant 3
call Math.divide 2
pop local 4
push local 2
push local 4
push constant 3
call Math.multiply 2
sub
pop local 5
push this 1
push local 2
call String.charAt 2
pop local 1
push this 7
push local 1
push constant 48
sub
push local 4
push local 5
call Block.new 4
pop local 0
push local 0
call Block.dispose 1
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.find 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
call String.length 1
pop local 1
push argument 2
push constant 0
call String.charAt 2
pop local 2
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 2
push argument 1
push local 0
call String.charAt 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.run 10
push argument 0
pop pointer 0
push this 1
push this 0
call Game.compareString 2
pop this 2
push constant 1
pop local 5
label WHILE_EXP0
push this 2
push constant 0
eq
push this 6
push constant 0
gt
and
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 4
label IF_FALSE0
push local 0
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop local 4
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop local 4
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop local 4
label IF_FALSE3
push pointer 0
push this 1
push constant 1
call String.new 1
push constant 57
call String.appendChar 2
call Game.find 3
pop this 3
push this 3
push constant 3
call Math.divide 2
pop local 1
push this 3
push local 1
push constant 3
call Math.multiply 2
sub
pop local 2
push local 4
push constant 1
eq
push local 1
push constant 2
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push this 3
push constant 3
add
call String.charAt 2
pop local 3
push this 1
push this 3
push local 3
call String.setCharAt 3
pop temp 0
push this 1
push this 3
push constant 3
add
push this 4
call String.setCharAt 3
pop temp 0
push this 7
push local 3
push constant 48
sub
push local 1
push constant 1
add
push local 2
call Block.new 4
pop local 6
push local 6
push local 4
push local 5
call Block.move 3
pop temp 0
push local 6
call Block.dispose 1
pop temp 0
push this 6
push constant 1
sub
pop this 6
push this 6
call Scoreboard.update 1
pop temp 0
label IF_FALSE4
push local 4
push constant 2
eq
push local 1
push constant 0
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push this 3
push constant 3
sub
call String.charAt 2
pop local 3
push this 1
push this 3
push local 3
call String.setCharAt 3
pop temp 0
push this 1
push this 3
push constant 3
sub
push this 4
call String.setCharAt 3
pop temp 0
push this 7
push local 3
push constant 48
sub
push local 1
push constant 1
sub
push local 2
call Block.new 4
pop local 6
push local 6
push local 4
push local 5
call Block.move 3
pop temp 0
push local 6
call Block.dispose 1
pop temp 0
push this 6
push constant 1
sub
pop this 6
push this 6
call Scoreboard.update 1
pop temp 0
label IF_FALSE5
push local 4
push constant 3
eq
push local 2
push constant 2
lt
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push this 3
push constant 1
add
call String.charAt 2
pop local 3
push this 1
push this 3
push local 3
call String.setCharAt 3
pop temp 0
push this 1
push this 3
push constant 1
add
push this 4
call String.setCharAt 3
pop temp 0
push this 7
push local 3
push constant 48
sub
push local 1
push local 2
push constant 1
add
call Block.new 4
pop local 6
push local 6
push local 4
push local 5
call Block.move 3
pop temp 0
push local 6
call Block.dispose 1
pop temp 0
push this 6
push constant 1
sub
pop this 6
push this 6
call Scoreboard.update 1
pop temp 0
label IF_FALSE6
push local 4
push constant 4
eq
push local 2
push constant 0
gt
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
push this 3
push constant 1
sub
call String.charAt 2
pop local 3
push this 1
push this 3
push local 3
call String.setCharAt 3
pop temp 0
push this 1
push this 3
push constant 1
sub
push this 4
call String.setCharAt 3
pop temp 0
push this 7
push local 3
push constant 48
sub
push local 1
push local 2
push constant 1
sub
call Block.new 4
pop local 6
push local 6
push local 4
push local 5
call Block.move 3
pop temp 0
push local 6
call Block.dispose 1
pop temp 0
push this 6
push constant 1
sub
pop this 6
push this 6
call Scoreboard.update 1
pop temp 0
label IF_FALSE7
push constant 0
pop local 0
push this 1
push this 0
call Game.compareString 2
pop this 2
goto WHILE_EXP0
label WHILE_END0
push this 2
call End.panal 1
pop local 7
push local 7
return
function Game.compareString 4
push argument 0
call String.length 1
pop local 2
push argument 1
call String.length 1
pop local 3
push local 2
push local 3
eq
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call String.charAt 2
push argument 1
push local 0
call String.charAt 2
eq
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_END0
push constant 0
not
return
