function Main.main 3
push constant 1
pop local 2
label WHILE_EXP0
push local 2
push constant 1
eq
not
if-goto WHILE_END0
call Start.new 0
pop local 0
call Game.new 0
pop local 1
push local 1
call Game.run 1
pop local 2
push local 1
call Game.dispose 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
